/* Animasi scroll saat user click link2 pada <nav> menjadi smooth */
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Bebas Neue' , Helvetica , sans-serif;
}

header {
    user-select: none; /* Mencegah user ngeclick pada text dan muncul tanda | pada text di <header> */
    text-align: center;
    font-size : 4em;
    background-color : #cea5ea;;
    color: whitesmoke;
    padding: 1px;
}

header h1{
    margin-block-end: 0px;
    font-weight:100;
}

header p {
    font-size : 40px;
    font-family: 'sans-serif';
}

.typing {
    width: fit-content;
    white-space: nowrap;
    padding-right: 5px;
    border-right: 2px solid rgb(186, 0, 254);
    overflow: hidden;
    color:rgb(255, 255, 255);
    font-family:'Bebas Neue' , Helvetica , sans-serif;
    font-size: 50px;
}

nav{
    user-select: none;
    text-align: center;
    font-size : 2em;
    background-color: #edd5ff;
    padding:24px;
}

nav ul{
    text-align:left;
    margin:0 auto;
    padding: 0;
    display: inline-block;
    text-decoration: none;
}

/* Durasi dan jenis transisi text pada <nav> ketika mouse sedang hover */
nav li{ 
    transition: font-size 0.3s ease;
}

/* Perubahan ukuran text pada <nav> ketika mouse hover */
li:hover{
    font-size:250%;
}

main{
    user-select: none;
    text-align: center;
    font-size : 2em;
}

main h2{
    font-size:70px;
}

main p{
    font-size : 30px;
}

img {
    width: 400px;
    height:400px;
}

div input{
    user-select: all; /* User dapat ngeclick pada text dan muncul tanda | pada <input> untuk memasukkan angka*/
    font-size:30px;
    width : 400px;
}

div button{
    font-size: 30px;
}

.section-separator{
    height: 60px;
    margin: 32px 0;
    background-color : #e9d6f5;
}

.persegi-flex {
    display:flex;
    align-items:flex-start;
    flex-wrap:wrap;
    gap : 40px;
    justify-content: center;
    max-width:1700px;
    margin:0 auto;
}

.persegi-flex img {
    max-width: 100%;
    height: auto;
}

.persegi-flex > div {
    flex: 1;
    margin-block: -25px;
    text-align:left;
}

#hasilLuasSegitiga, #hasilKelilingSegitiga, #hasilLuasLingkaran, #hasilKelilingLingkaran, #hasilLuasPersegi, #hasilKelilingPersegi {
    font-size: 50px;
    margin-top: 20px;
    color:red;
}